
h1 {
	font-size: 46px;
	font-weight: 700;
}

h2 {
	font-size: 36px;
	font-weight: 600;
}

h3 {
	font-size: 1.6rem;
	letter-spacing: 0.3px;
}

h4 {
	font-size: 1.1rem;
	font-weight: 600;
}

h5 {
	font-size: 0.7rem;
	// font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	// font-family: "acumin-pro";
}

h6 {
	font-size: 0.9rem;
	letter-spacing: 0.5px;
	color: #989898;
}

p {
	font-size: 1.1rem;
	letter-spacing: 0.3px;
	text-align: justify;
}

em { font-style: italic; }

