* { box-sizing: border-box; }

body { 
	color: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family:"adobe-garamond-pro";
	a { color: black; text-decoration: none;}
	::selection { background-color: #EFF2F7; color: #FF6666; }
}

main {
	@include group;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 18px;
}

.cdr-container {
	@include group;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
	display: block;
}


.collection-type-whatiswriting {
	#main-nav {
		.whatiswriting {
			color: white;
			background-color: #292929;
		}
	}
}

.collection-56e5832f7da24f279616f30f {
	#main-nav {
		.acerca {
			color: white;
			background-color: #292929;
		}
	}
}

.collection-56dc40ba20c647a2ce54a40a {
	#main-nav {
		.comunidad {
			color: white;
			background-color: #292929;
		}
	}
}
