* { box-sizing: border-box; }

body { 
	color: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family:"adobe-garamond-pro";
	a { color: black; text-decoration: none;}
	::selection { background-color: #E8F0FF; color: #FF6666; }
}

main {
	@include group;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;	
}

.cdr-container {
	@include group;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
	display: block;
}

a {
	color: #2B2B2B;
}

a:hover {
	cursor:pointer;
}


.collection-56dc4206555986f25c6fa0ab {
	#main-nav {
		.critica-y-reviews {
			color: white;
			background-color: #292929;
		}
	}
}

.collection-56e5832f7da24f279616f30f {
	#main-nav {
		.acerca {
			color: white;
			background-color: #292929;
		}
	}
}

.collection-56dc40ba20c647a2ce54a40a {
	#main-nav {
		.comunidad {
			color: white;
			background-color: #292929;
		}
	}
}

.collection-56e599b320c647b40ef778f8 {
	#main-nav {
		.home {
			a {
			color: white !important;
			background-color: #292929;
			}
		}
	}
}
