.acerca {
	p {
		font-size: 1rem;
		padding-right: 30px;
		padding-bottom: 12px;
	}
	em {
		font-style: normal;
		font-size: 0.9rem;
		font-family: cursive;
	}
	header {
		padding-bottom: 40px;
		padding-right: 50px;
		h2 {padding-bottom: 10px;}
	}

	.credit {
		padding: 20px
	}
}