.header {
	background-color: black;
	height: 160px;
	margin-bottom: 70px;
}

.bar {
	z-index: 2000;
	margin-bottom: 36px;
	text-transform: uppercase;
	a.home-cr {
		background-image: url("/assets/images/home-icon-black.png");
		background-repeat: no-repeat;
		display: inline-block;
		text-indent: -10000px;
		width: 24px;
		height: 24px;
	}

	#main-nav {

		border-bottom: 1px solid #DCDCDC;
		a {
			display: inline-block;
			font-size: 0.9em;
			letter-spacing: 1.5px;
			font-weight: 600;
			padding-left: 12px;
			line-height: 24px;
		}
		a:hover { color: #FB2A4F; }
		.media {
			font-size: 0.9em;
			float: right;
			a { padding-left: 12px; display: inline-block;}
			a:hover { color: #FB2A4F; }
		}
	}
	.festin-canibal { float: right; }
	.festin-canibal:hover {	}

}




