.header {
	background-color: black;
	height: 160px;
	margin-bottom: 80px;
}

.bar {
	z-index: 2000;
	margin-bottom: 24px;
	text-transform: uppercase;
	background-color: white;
	a.home-cr {
		background-image: url("/assets/images/home-icon/home-icon-black.png");
		background-repeat: no-repeat;
		width: 30px;
		display: inline-block;
		text-indent: -10000px;
	}

	a:hover.home-cr {
		background-color: white !important;
	}

	#main-nav {
		position: relative;
		border-bottom: 1px solid #292929;
		padding-right: 20px;
		a {
			display: inline-block;
			font-size: 0.9rem;
			padding-left: 12px;
			padding-right: 12px;
			padding-top: 12px;
			padding-bottom: 9px;
		}
		a:hover {
			color: #FF6666;
			// background-color: #E8F0FF;
			background-color: #ECF0F7;
		}
		.home {
			display: inline-block;
			a {
			font-size: 1.1em;
			padding-left: 12px;
			padding-right: 12px;
			padding-top: 9px;
			padding-bottom: 8px;
			}
		}
		.media {
			font-size: 1em;
			float: right;
			padding-right: 20px;
			padding: 0;
			a {
				display: inline-block;
				padding-left: 4px;
				padding-right: 18px;
				padding-top: 12px;
				padding-bottom: 10px;
			}
			a:hover {
				color: #FF6666;
				background: none;
			}
		}
	}
}




