#boletin {
    z-index: 2000;
    box-sizing: border-box;	
	display: none;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
    right: 0;
    left: 0;
    padding: 10px;  
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background: white;
	padding: 50px 200px;

	form {
		input {
			border:none;
			width: 300px;
			height: 24px;
			outline: none;
		    border: none;
		    margin-top: 10px;
		    margin-right: 6px;
		    font-style: italic;
		    padding: 17px;
		    font-size: 16px;
		    letter-spacing: 2px;
		    color: black;
		    background-color: #F1F1F1;		
		}

		button {
			font-family: "georgia";
			color: black;
			padding-top: 10px;
			padding-bottom: 11px;
			padding-left: 14px;
			padding-right: 14px;
		}
	}

	img {display: inline-block; width: 15%;}
	h6 { 
		font-size: 0.9rem;
		color: black;
		text-transform: none;
	}
	h2 {
		text-transform: none;
	}
}