#boletin {
    z-index: 2000;
    box-sizing: border-box;
	display: none;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
    right: 0;
    left: 0;
    padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background: white;
	padding: 70px 200px;

	form {
		input[name='email'] {
			border:none;
			width: 300px;
			height: 24px;
			outline: none;
		    border: none;
		    margin-top: 10px;
		    margin-right: 6px;
		    font-style: italic;
		    padding: 17px;
		    font-size: 16px;
		    letter-spacing: 2px;
		    color: black;
		    background-color: #F1F1F1;
		}

		input[type='submit'] {
			font-family: "georgia";
			color: black;
			padding-top: 6px;
			padding-bottom: 9px;
			padding-left: 14px;
			padding-right: 14px;
			border: none;
		}
	}

	img {display: inline-block; width: 15%;}
	h6 {
		font-size: 0.9rem;
		color: black;
		text-transform: none;
	}
	h2 {
		text-transform: none;
	}

	#boletin-close {
		position: absolute;
		right: 20px;
		top: 20px;
	}
}


[data-state='error'] {
	padding-top: 20px;
	text-transform: none;
	h3 { color: #F34801; }
	h6 { color: #F34801; }
	a { padding: 0 !important; }
}

[data-state='success'] {
	padding-top: 20px;
	text-transform: none;
	h3 { color: #86C100; }
	h6 { color: #86C100; }
	a { padding: 0 !important; }
}

[data-state='already-subscribed'] {
	padding-top: 20px;
	text-transform: none;
	h3 {color: #006CE2;}
	h6 {color: #006CE2;}
	a { padding: 0 !important; }
}
