.button {
	background-color: #F5FFCE;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: 1px;
	display: inline-block;
} 
.button:hover {
	background-color: #DCFF52;
}

.share-button {
	display: inline-block;
}