.cookie-warning {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	background: #F1F1F1;
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	h6 {color: black;}
	a:hover {
		text-decoration: underline;
	}
}

.cookie-warning:hover {
	cursor: pointer;
}