.item {
	margin-right: 6px;
	margin-bottom: 6px;
	display: block;
	h1 { font-size: 1.4em; font-weight: 600; letter-spacing: 0.5px; }
	h2 { font-size: 1.2em; letter-spacing: 0.5px;  }
	p { font-family: "acumin-pro"; font-size: 0.9em; letter-spacing: 0.9px; line-height: 20px; }
	header { padding-bottom: 12px; padding-top: 6px;}
}
.item-medium {
	display: block;
	border-bottom: 1px solid white;
	h1 { font-size: 1.4em; line-height: 1em; font-weight: 600; letter-spacing: 0.2px; }
	h2 {font-size: 1.2em; letter-spacing: 0.6px; }
	p {font-size: 0.9em; line-height: 1.5em; letter-spacing:0.9px; font-family: "acumin-pro";}
	header { padding-bottom: 12px; padding-top: 6px;}
}
.item-small {
	background-color: #F7F9FD;
	display: block;
	color: #969696;
	margin-bottom: 24px;
	h1 {
		font-size: 0.8em;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
	}
	h2 {
		font-size: 0.9em;
		letter-spacing: 0.7px;
		padding-bottom: 10px;
	}
	h6 {
		font-family: "acumin-pro";
		padding-bottom: 5px;
	}
	.item-info {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	}
}
.item-info {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}
.item:hover { background-color: #EFF2F7; }
.item-medium:hover { background-color: #EFF2F7; border-bottom: 1px solid #FF778F;}
.item-small:hover { background-color: #EFF2F7; color: black; }
