.collection-type-maquinas-de-vision {
    background-color: #171717;
    color: #CCBDBD;
    .bar {
      background-color: #171717;
      a.home-cr {
      background-image: url("/images/home-icon-white.png");
      }
      #main-nav {
        border-bottom: 1px solid #3C3C3C;
        a { color: #ECE6E6; }
        a:hover { color: black; background-color: #DADADA; } 
      }
    }

    .item-medium {
      border-bottom: none;
      font-family:"acumin-pro";
      background-color: black;
      color: #B1B1B1;
      margin-right: 0px;
      margin-bottom: 6px;
      display: block;
      h1 {font-size: 0.9em;font-weight: 400; letter-spacing: 1.5px;}
      h2 {letter-spacing: 3px; font-size: 0.7em; }
    }

    .masonry-item { width: 329px; }
    .item-medium:hover { 
      cursor: pointer;
      background-color: #292929; 
      color: white; 
      .cover-wrapper {
        position: relative;
        .cover {
          z-index: 1000;
          background: rgba(255, 191, 206, 0.13);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    .button-newsletter { border-bottom: 2px solid #191919; }
    .button-newsletter:hover { background-color: #272727; }
    .button {background-color: #151515;}
    .page-description {
      color: #B1B1B1;
      .section-search { border: 1px solid #3C3C3C; }
    }
    .video-article {
      color: #ECE6E6;
      h5 { font-family:"acumin-pro"; font-size: 0.7em; line-height: 2.5em; text-transform: uppercase; letter-spacing: 3px; }
      p { font-family:"acumin-pro"; font-weight:100; font-size: 1.1em; letter-spacing: 1.3px; line-height: 30px; font-weight: 300; }
      header { padding-bottom: 70px; padding-top: 20px; }
    }
    .smallprint { color: #696969; }
    .section-indexdate { color: #B1B1B1; border-bottom: 1px solid #3C3C3C;  }
    .button-year { color:#3C3C3C; border-bottom: 1px solid #3C3C3C; } 
    .button-year:hover { color: #B1B1B1; background-color: #212121; }
}