.page-description {
	// font-family:"acumin-pro";
	padding-left:24px;
	color: #272727;

	p { font-size: 0.9em; letter-spacing: 0.2px;}

	.section-search {
		border-radius: 20px;
		border: 1px solid #E6E6E6;
		padding-left: 10px;
		padding-bottom: 2px;
		padding-top: 2px;
		color: #BEBFBF;
		margin-top: 12px;
		margin-bottom: 12px;
		h6 {letter-spacing: 2px;}
	}
}