#search {
    z-index: 1000;
    box-sizing: border-box;	
	display: none;
	position: absolute;
    right: 0;
    left: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    margin-top: 2px;
    background: white;
	border: 1px solid black;

	input {
		border:none;
		width: 980px;
		height: 24px;
		outline: none;
	    border: none;
	    margin: 0;
	    font-style: italic;
	    font-size: 16px;
	    letter-spacing: 2px;		
	}
}
